.camera__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dotted__small{
    width: 300px;
    height: 300px;
    top: 220px;
    opacity: .8;
    animation: rotate 85s linear infinite;
}
.dotted__med{
width: 325px;
    height: 325px;
    top: 207px;
    opacity: .5;
    animation: rotate 70s linear infinite;
}
.dotted__large{
width: 350px;
    height: 350px;
    top: 195px;
    opacity: .3;
    animation: rotate 50s linear infinite;
}

.camera__icon--wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 180px;
    animation: load 2s ease-in-out infinite;
    
    p{
        font-size: 16px;
        font-weight: bold;
    }
}

@keyframes load {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
         transform: scale(1.05);
    }
}
