.camera__error {
  width: 100%;
  height: 100vh;
  background-color: rgb(185, 185, 185);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  p {
    font-size: 24px;
    font-weight: bold;
  }
}

.camera__display {
  position: relative;
  height: 100vh;
}

video {
  width: 100%;
  height: 92%;
  object-fit: cover;
}

.camera__overlay {
  position: absolute;
  top: 30%;
  color: white;
  width: 100%;
  margin: 120px 0px;
  padding: 24px;
}

.invert {
  color: white;
  width: max-content;

  img {
    filter: invert(1) brightness(2);
  }
}

.photo__captured {
  width: 100%;
  height: 92%;
}

.take-picture {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.picture__img {
  transition: all 0.3s ease;
  cursor: pointer;
}
.picture__img:hover {
  transform: scale(1.07);
}

.bottom__texts {
  margin-top: 250px;
}

.bottom__text {
  img {
    filter: invert(1) brightness(2);
  }
}

.preview {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    font-size: 14px;
  }
}

.preview__btns {
  display: flex;
  gap: 24px;
}

.great {
  margin-bottom: 274px;
}

.preview__tag {
  font-weight: bold;
  margin-bottom: 24px;
}

.use__btn {
  background-color: #1a1b1c;
  color: white;
}

.analyzing {
  width: 300px;
  font-size: 24px;
  padding: 24px;
  text-align: center;
  margin-bottom: 300px;
  background-color: rgba(120, 120, 120, 0.5);
}

@media (max-width: 576px) {
  .bottom__texts {
    margin: 200px 0px 80px 0px;
  }
  .bottom__text,
  .bottom__text-main {
    font-size: 12px;
  }
  .take-picture {
    p {
      font-size: 12px;
    }
  }
  .picture__img {
    width: 50px;
    height: 50px;
  }
  .invert {
    font-size: 12px;
    img {
      width: 40px;
    }
  }
}

@media (max-width: 768px) {
    .bottom__texts {
    margin: 200px 0px 60px 0px;
  }
  .analyzing {
  width: 200px;
  font-size: 16px;
}
}
