header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}
.header__tag{
  color: #1a1b1c83;  
  font-size: 14px;
  font-weight: bold;
}
.header__title{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #1a1b1c;
}
.header__titles{
    display: flex;
    gap: 8px;
}
.header__btn{
    padding: 8px 12px;
    color: white;
    background-color: #1a1b1c;
    font-size: 10px;
    font-weight: 600;
}
