header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.header__tag{
  color: #1a1b1c83;  
  font-size: 14px;
}
.header__title{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #1a1b1c;
}
.header__titles{
    display: flex;
    gap: 8px;
}
.header__btn{
    padding: 8px 16px;
    color: white;
    background-color: #1a1b1c;
    font-size: 10px;
    font-weight: 600;
}
