.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.home__title {
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  max-width: 680px;
}
.left,
.right {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
}
.left{
    left: 80px;
}
.right{
    right: 80px;
}
.arrow {
  transition: transform 0.3s ease;
}
.arrow:hover {
  transform: scale(1.2);
}
.home__desc {
  position: absolute;
  left: 32px;
  bottom: 32px;
  max-width: 320px;
  justify-self: start;
  font-size: 14px;
}
.dotted {
  border: 2px dotted #a0a4ab;
  position: absolute;
  width: 602px;
  height: 602px;
  transform: rotate(45deg);
}
.dotted__left {
  left: -450px;
}
.dotted__right {
  right: -450px;
}
