.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -7px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;

  span {
    margin: 0px 120px;
    transition: margin 0.5s ease;
  }
}

.title__left {
  transform: translateX(-300px);

  span {
    margin: 0px;
  }
}

.title__right {
  transform: translateX(300px);

  span {
    margin-left: 220px;
  }
}

.left__container,
.right__container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  font-size: 14px;
  opacity: 1;
  transition: all 0.5s ease;
}

.left__container {
  left: 80px;
}

.right__container {
  right: 80px;
}

.inactive {
  opacity: 0;
}

.home__description {
  position: absolute;
  left: 32px;
  bottom: 32px;
  max-width: 320px;
  font-size: 14px;
}

.dotted__left {
  width: 602px;
  height: 602px;
  left: -500px;
}

.dotted__right {
  width: 602px;
  height: 602px;
  right: -500px;
}
.home__content--media{
  display: none;
}


@media (max-width:1200px) {
  .home__content--media{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .title__media{
    text-align: center;
    font-size: 60px;
    line-height: 60px;
  letter-spacing: -5px;
  }
  .home__description--media{
    font-size: 16px;
    color: #1a1b1c83;
    font-weight: 600;
    max-width: 300px;
    text-align: center;
    margin-top: 16px;
  }
  .media__box--sm{
    width: 400px;
    height: 400px;
    opacity: .6;
    top: 180px;
  }
  .media__box--md{
    width: 450px;
    height: 450px;
    opacity: .6;
    top: 155px;
  }
  .home__content{
    display: none;
  }
}

@media (max-width:576px) {
  .title__media{
    font-size: 45px;
  }
  .home__description--media{
    font-size: 12px;
  }
  .media__box--sm{
    width: 325px;
    height: 325px;
    top: 265px;
  }
  .media__box--md{
    width: 375px;
    height: 375px;
    top: 240px;
  }
  .arrow__media{
    position: sticky;
    background-color: white;
    bottom: 1;
  }
}