
.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -7px;
  display: flex;
  flex-direction: column;
  transition: all .5s ease;

  span{
    margin: 0px 120px;
    transition: margin .5s ease;
  }
}

.title__left{
transform: translateX(-300px);

span{
  margin: 0px;
}
}

.title__right{
transform: translateX(300px);

span{
  margin-left: 220px
}
}

.title__wrapper{
  width: 75%;
  display: flex;
  justify-content: center;
  transition: justify-content 0.3s ease;
}

.title__wrapper--left{
  justify-content: flex-start;
}

.title__wrapper--right{
  justify-content: flex-end;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  font-size: 14px;
  opacity: 1;
  transition: all .5s ease;
}

.left{
    left: 80px;
}

.right{
    right: 80px;
}

.inactive{
  opacity: 0;
}

.home__description {
  position: absolute;
  left: 32px;
  bottom: 32px;
  max-width: 320px;
  font-size: 14px;
}

.dotted__left {
  left: -500px;
}

.dotted__right {
  right: -500px;
}

.right__text, 
.left__text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
  color: #1a1b1c;

  img{
    transition: transform 0.3s ease;
  }
}

.right__text:hover, .left__text:hover{
  img{
    transform: scale(1.2);
  }
}
