.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 120px;
    color: white;
    z-index: 500;
    display: flex;
    flex-direction: column;
}

.top{
    padding: 16px 24px 24px 16px;
    background-color: black;
    flex: 2;
    p{font-size: 16px;
    font-weight: bold;}
}

.bottom{
    margin-top: 1px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 8px;

    button{
        padding: 8px 12px;
        background-color: black;
        border: none;
        color: white;
        cursor: pointer;
    }
}