
.ring{
    width: 384px;
    height: 384px;
    position: relative;
    border-radius: 50%;
    background-color: #C1C2C3;
    
}

.percentage{
    font-size: 32px;
    
}

.overlay{
    background-color: #f3f3f4;
    border-radius: 50%;
    width: 370px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.mask{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: transform 1s ease;
    border-radius: 50%;
    overflow: hidden;
}

.half{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: black;
}









