.preview {
  font-size: 14px;
  margin-bottom: 4px;
}

.results__box--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.box {
  width: 128px;
  height: 128px;
  border: 1px solid rgb(197, 197, 197);
}

.result__main {
  display: flex;
  align-items: center;
  height: 60%;
}

.sphere__wrapper {
  width: 120px;
  height: 120px;
  position: relative;
}

.sphere__img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.sphere__img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sphere {
  flex: 1;
  display: flex;
  justify-content: center;
}

.arm__img {
  width: 66px;
  height: 60px;
  position: absolute;
  top: -20px;
  right: -52px;
}

.arm__img--2 {
  width: 66px;
  height: 60px;
  position: absolute;
  bottom: -30px;
  left: -47px;
}

.sphere__text {
  position: absolute;
  top: -35px;
  right: -195px;
  z-index: 100;
}

.sphere__text--2 {
  position: absolute;
  bottom: -55px;
  left: -170px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img__text {
  font-size: 14px;
  margin-top: 2px;
}

.box__sm {
  top: -85px;
  left: -90px;
  width: 300px;
  height: 300px;
}
.box__md {
  top: -97px;
  left: -103px;
  width: 325px;
  height: 325px;
}
.box__lg {
  top: -110px;
  left: -113px;
  width: 350px;
  height: 350px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 120px;
  color: white;
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 16px 24px 24px 16px;
  background-color: black;
  flex: 2;
  p {
    font-size: 16px;
    font-weight: bold;
  }
}

.bottom {
  margin-top: 1px;
  background-color: black;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.modal__links {
  font-size: 14px;
  padding: 8px 12px;
  background-color: black;
  border: none;
  color: rgb(201, 200, 200);
  cursor: pointer;
  text-decoration: none;
}

.modal__links:hover {
  color: white;
}

.image__input {
  display: none;
}

.img-from-file {
  width: 100%;
  height: 100%;
}

.preparing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 16px;
    font-weight: bold;
  }

  .box__sm {
    top: -140px;
    left: -40px;
    animation: rotate 30s linear infinite;
  }
  .box__md {
    top: -150px;
    left: -50px;
    animation: rotate 20s linear infinite;
  }
  .box__lg {
    top: -160px;
    left: -60px;
    animation: rotate 10s linear infinite;
  }
}

@media (max-width: 576px) {
  .result__main {
    flex-direction: column;
    height: 90%;
  }
  .box__sm {
    top: -40px;
    left: -40px;
    width: 200px;
    height: 200px;
  }
  .box__md {
    top: -27px;
    left: -27px;
    width: 175px;
    height: 175px;
  }
  .box__lg {
    top: -15px;
    left: -15px;
    width: 150px;
    height: 150px;
  }
  .box {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(197, 197, 197);
  }
  .img__text {
    font-size: 12px;
  }
  .sphere__text {
    text-align: center;
    width: max-content;
    top: 120px;
    right: 0;
  }
  .sphere__text--2{
    align-items: center;
    bottom: -55px;
    width: max-content;
    left: 12px;
  }
  .arm__img, .arm__img--2{
    display: none;
  }
}

@media (max-width:768px) {
  .box__sm {
    top: -40px;
    left: -40px;
    width: 200px;
    height: 200px;
  }
  .box__md {
    top: -27px;
    left: -27px;
    width: 175px;
    height: 175px;
  }
  .box__lg {
    top: -15px;
    left: -15px;
    width: 150px;
    height: 150px;
  }
  
}