.testing__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
}

.testing__input {
  width: 450px;
  height: 65px;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  border: transparent;
  border-bottom: 1px solid black;
  font-family: inherit;
  letter-spacing: -4px;
  padding-bottom: 8px;
  background: transparent;
}

.city {
  width: 520px;
}

form {
  z-index: 100;
}

.testing__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.input__tag {
  color: grey;
}

.success__message {
  text-align: center;
}

.bold {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 12px;
}

.proceed {
  color: grey;
}

.loading {
  font-size: 24px;
}

.box__sm {
  width: 500px;
  height: 500px;
}
.box__md {
  width: 525px;
  height: 525px;
}
.box__lg {
  width: 550px;
  height: 550px;
}

@media (max-width: 576px) {
  .box__sm {
    width: 350px;
    height: 350px;
  }
  .box__md {
    width: 325px;
    height: 325px;
  }
  .box__lg {
    width: 300px;
    height: 300px;
  }
  .input__tag {
    font-size: 12px;
  }
  .testing__input {
    width: 300px;
    height: 40px;
    font-size: 42px;
  }
  .city {
    width: 350px;
  }
}

@media (max-width:768px) {
   .box__sm {
    width: 400px;
    height: 400px;
  }
  .box__md {
    width: 350px;
    height: 350px;
  }
  .box__lg {
    width: 325px;
    height: 325px;
  }
}