@font-face {
  font-family: 'Roobert';
  src: url('/fonts/233c79a3dd5d29c1-s.p.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('/fonts/3af00888eb197ae2-s.p.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('/fonts/5c52d55133bd4cc4-s.p.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('/fonts/d23b9ce7f15ea07c-s.p.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('/fonts/d7d5f4714741d93b-s.p.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roobert";
  color: #1a1b1c;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  height: 100%;
  padding: 24px;
}

.dotted {
  border: 2.7px dotted #a0a4ab;
  position: absolute;
  transform: rotate(45deg);
  pointer-events: none;
}

.box__sm,
.box__md,
.box__lg {
  position: absolute;
  animation: rotate linear infinite;
}
.box__sm{
  animation-duration: 85s;
  opacity: .9;
}
.box__md{
  animation-duration: 70s;
  opacity: .6;
}
.box__lg{
  animation-duration: 50s;
  opacity: .3;
}

.arrow__wrapper{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.arrow{
    display: flex;
    gap: 12px;
    align-items: center;
    color: #1a1b1c;
    padding: 12px;
    font-size: 14px;

    img{
        transition: all .3s ease;
    }
}

.arrow:hover{
    img{
        transform: scale(1.2);
    }
}

.top__text{
    font-size: 12px;
    font-weight: 600;
}

.no__underline{
  text-decoration: none;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
    
}

@media (max-width:768px) {
  .box__sm,
.box__md,
.box__lg {
  opacity: .3;
}
.arrow{
    font-size: 12px;
    font-weight: 600;

    img{
      width: 32px;
    }
  }
}